  <div>
    <h2>{{ productEditCtrl.product.name }}</h2>
    <label for="product_name">Name:</label>
    <input type="text" id="product_name" ng-model="productEditCtrl.product.name">
    <br>
    
    <label for="product_description">Description:</label>
    <textarea id="product_name" ng-model="productEditCtrl.product.description"></textarea>
    <br>

    <label for="product_price">Name:</label>
    <input type="text" id="product_price" ng-model="productEditCtrl.product.price">
    <br>

    <button ng-click="productEditCtrl.saveProduct()">Save</button>

  </div>
